.aright{float:right;}
.30pc{width:30%;}
span.red{color:#FF0000;}
span.green{color:#00FF0;}
span.blue{color:#0000FF;}
@font-face{font-family:din;}
colourswitched{color:#ee7103;}
body{margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;font-size:14px;background:#e3e7e9;}
h4{display:inline-block;}
.container{width:100%;height:auto;float:left;clear:both;}
.clear{clear:both;}
.whmcscontainer .col10{float:left;margin:0;padding:0;width:10%;}
div.whmcscontainer a{text-decoration:underline;}
img{border:none;}
.nomarginbtm{margin-bottom:0px !important;}
.nomarginrt{margin-right:0px !important;}
.noborderbtm{border-bottom:none !important;}
.margintop{margin-top:-10px;}
.marginbottom10{margin-bottom:10px !important;}
a:link{color:#777777;text-decoration:none;outline:none;}
a:visited{text-decoration:none;color:#777777;outline:none;}
a:hover{text-decoration:underline;color:#777777;outline:none;}
a:active{text-decoration:none;color:#777777;outline:none;}
.headercon{float:left;width:100%;background:url(../images/headerbg.png) repeat left top;border-bottom:4px solid #40a0c0;margin:0 0 10px 0;}
.wrapper{width:950px;height:auto;margin:0 auto;}
.wrappermini{width:906px;height:auto;margin:0 auto;}
.logo{float:left;margin:15px 0 0 0;}
.account{float:right;width:187px;height:34px;margin:30px 0 0 0;}
.account a{display:block;background:url(../images/clientlogin.png) no-repeat left top;width:172px;text-decoration:none;text-shadow:1px 1px 1px #363636;height:34px;padding:0 0 0 15px;color:#FFF;font-size:12px;line-height:34px;}
.account a:hover{background:url(../images/clientlogin.png) no-repeat left bottom;}
.livechat{float:right;width:163px;height:34px;margin:30px 0 0 10px;}
.livechat a{display:block;background:url(../images/livechat.png) no-repeat left top;width:148px;text-decoration:none;text-shadow:1px 1px 1px #cd6a05;height:34px;padding:0 0 0 15px;color:#FFF;font-size:12px;line-height:34px;}
.livechat a:hover{background:url(../images/livechat.png) no-repeat left bottom;}
#menu{float:left;width:940px;height:32px;padding:5px 5px 0 5px;border-radius:7px 7px 0 0;margin:4px 0 0 0;}
#menu ul{list-style:none;margin:0px;padding:0px;}
#menu ul li{float:left;display:inline;height:30px;margin:0 4px 0 0;}
#menu ul li a{display:block;text-align:center;text-decoration:none;color:#FFF;font-size:12px;text-shadow:1px 1px 1px #363636;text-transform:uppercase;background:url(../images/menu.png) repeat-x left top;border-radius:7px 7px 0 0;height:32px;line-height:32px;padding:0 8px;}
#menu ul li a:hover, #menu ul li.active a{background:url(../images/menuactive.png) repeat-x left top;border-radius:7px 7px 0 0;color:#777;text-shadow:1px 1px 1px #FFF;}
#menu li li{float:left;margin:0px;padding:0px;width:225px;}
#menu ul li.over a, #menu ul li:hover a{background:url(../images/menuactive.png) repeat-x left top;border-radius:7px 7px 0 0;color:#777;text-shadow:1px 1px 1px #FFF;}
#menu li li a, #menu li li a:link, #menu li li a:visited{color:#777;text-shadow:1px 1px 1px #FFF;float:none;margin:0px;border-radius:0;border-bottom:#2a2a2a 1px solid;border-left:#2a2a2a 1px solid;border-right:#2a2a2a 1px solid;text-align:left;}
#menu li li a:hover, #menu li li a:active{color:#777;text-shadow:1px 1px 1px #FFF;float:none;margin:0px;text-align:left;}
#menu li ul{left:-999em;position:absolute;width:10em;z-index:9999;background:#dcdcdc;}
#menu li:hover ul{display:block;left:auto;}
#menu li:hover ul, #menu li.sfhover ul{left:auto;}
.signup{padding:0;width:105px;}
.signup a{width:105px;background:url(../images/signup.png) repeat-x left top !important;height:35px;display:block;font-weight:bold;color:#FFF !important;text-shadow:1px 1px 1px #0e88bc !important;}
.signup a:hover{opacity:0.9;background:url(../images/signup.png) repeat-x left top !important;}
.banner{float:left;width:890px;height:296px;padding:25px 30px;}
.bannerleft{float:left;}
.bannerleft h1{margin:0 0 7px 0;padding:0px;color:#FFF;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:36px;text-shadow:1px 1px 1px #40a0c0;}
.bannerleft h2{margin:0;padding:0px;color:#FFF;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:22px;text-shadow:1px 1px 1px #40a0c0;}
.bannerleft h2 a{color:#FFF;font-size:22px;}
.bannerleft h3{margin:0;padding:2px;color:#FFF;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:16px;}
.liststyle1{list-style:none;margin:0px;padding:0px;}
.liststyle1 li{background:url(../images/bannerli.png) no-repeat left top;height:34px;margin:0 0 2px 0;padding:0 0 0 40px;color:#FFF;font-size:14px;line-height:34px;}
.feature{float:right;margin:10px 43px 0 0;}
.feature a{display:block;height:15px;line-height:15px;color:#FFF;font-size:10px;text-decoration:underline;text-transform:uppercase;}
.feature a:hover{text-decoration:none;}
.bannerright{float:right;width:320px;}
.ratebanner{float:left;width:153px;margin:15px 0 0 0;}
.ratebanner h3{margin:0px;padding:0px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#FFF;text-shadow:1px 1px 1px #c46e03;font-size:18px;letter-spacing:-1px;text-align:right;}
.pound{color:#FFF;font-size:50px;position:absolute;font-family:din;margin:-4px 0 0 4px;}
.numeric{color:#FFF;font-size:70px;position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;margin:-17px 0 0 30px;letter-spacing:-5px;}
.numericsmall{color:#FFF;font-size:40px;position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;margin:-7px 0 0 100px;letter-spacing:-3px;}
.per{position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:15px;font-weight:bold;color:#FFF;margin:32px 0 0 99px;}
.liststyle2{list-style:none;margin:13px 0 0 0;padding:0px;float:right;display:block;}
.liststyle2 li{line-height:25px;height:25px;background:url(../images/bullet.png) no-repeat left center;padding:0 0 0 13px;color:#FFF;font-size:10px;text-transform:uppercase;}
.signup1{margin:10px auto 0 auto;width:167px;height:34px;}
.signup1 a{display:block;background:url(../images/bannerbtn.png) no-repeat left top;width:147px;height:34px;line-height:34px;padding:0 0 0 20px;color:#FFF;font-size:16px;font-weight:bold;text-transform:uppercase;text-decoration:none;}
.signup1 a:hover{background:url(../images/bannerbtn.png) no-repeat left bottom;}
.plancon{float:left;width:950px;margin:0 0 20px 0;}
.plan{float:left;width:300px;margin:0 25px 0 0;}
.plan .button{text-align:center;margin-top:15px;}
.plan .button1{font-size:13px;}
.plan h2{margin:0px;padding:0px;height:50px;line-height:50px;text-align:center;background:url(../images/planheading.png) no-repeat left top;font-size:16px;text-transform:uppercase;color:#FFF;text-shadow:1px 1px 1px #333333;}
h2.bestseller{background:url(../images/ribbon-bestseller.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
h2.bestvalue{background:url(../images/ribbon-bestvalue.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
h2.offer{background:url(../images/ribbon-offer.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
h2.popular{background:url(../images/ribbon-popular.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
h2.sale{background:url(../images/ribbon-sale.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
h2.special{background:url(../images/ribbon-special.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
h2.recommended{background:url(../images/ribbon-recommended.png) right top no-repeat, url(../images/planheading.png) left top no-repeat;}
.planrate{background:url(../images/planrate.png) no-repeat left top;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb{background:url(../images/planrate-blank.png) no-repeat left top;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.domainreseller{background:url(../images/planrate-domain.png) no-repeat left top;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.vps{background:url(/assets/images/vps.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.whmcs-cacti{background:url(/assets/images/cacti.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.rvsitebuilder{background:url(/assets/images/rvsitebuilder.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-wood{background:url(/assets/images/minecraft/sm-wood.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-stone{background:url(/assets/images/minecraft/sm-stone.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-iron{background:url(/assets/images/minecraft/sm-iron.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-gold{background:url(/assets/images/minecraft/sm-gold.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-diamond{background:url(/assets/images/minecraft/sm-diamond.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-obsidian{background:url(/assets/images/minecraft/sm-obsidian.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-bedrock{background:url(/assets/images/minecraft/sm-bedrock.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-ice{background:url(/assets/images/minecraft/sm-ice.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-lava{background:url(/assets/images/minecraft/sm-lava.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-ultimate{background:url(/assets/images/minecraft/sm-ultimate.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateb.mc-custom{background:url(/assets/images/minecraft/sm-custom.png), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratecmsmadesimple{background:url(/assets/images/sm-logo_cmsmadesimple.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateconcrete{background:url(/assets/images/sm-logo_concrete.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratdrupal6{background:url(/assets/images/sm-logo_drupal6.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratedrupal{background:url(/assets/images/sm-logo_drupal.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratee107{background:url(/assets/images/sm-logo_e107.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratejoomla3{background:url(/assets/images/sm-logo_joomla3.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratejoomla{background:url(/assets/images/sm-logo_joomla.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratemambo{background:url(/assets/images/sm-logo_mambo.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratewordpress{background:url(/assets/images/sm-logo_wordpress.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratexoops{background:url(/assets/images/sm-logo_xoops.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratezikula{background:url(/assets/images/sm-logo_zikula.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planratemagento{background:url(/assets/images/sm-logo_magento.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateabantecart{background:url(/assets/images/sm-logo_abantecart.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planrateprestashop{background:url(/assets/images/sm-logo_prestashop.gif), url(../images/planrate-blank.png);background-repeat:no-repeat, no-repeat;background-position:15px 5px, left top;background-size:70px 70px, 300px 83px;height:83px;width:180px;padding:0 0 0 120px;}
.planbtm{width:266px;border-width:0 2px 2px 2px;border-style:solid;border-color:#FFF;background:url(../images/planbtm.png) repeat-x left bottom #FFF;padding:15px;border-radius:0 0 5px 5px;}
.liststyle3{list-style:none;margin:0px;padding:0px;}
.liststyle3 li{line-height:30px;height:30px;background:url(../images/bullet1.png) no-repeat left center;padding:0 0 0 20px;font-size:14px;color:#777;border-bottom:1px solid #dddddd;}
.planbtm p{margin:10px 0;padding:0px;color:#40a0c0;font-size:14px;font-weight:bold;line-height:20px;letter-spacing:-0.03em;}
.planbtn{margin:10px auto 0 auto;width:203px;height:34px;}
.planbtn a{display:block;background:url(../images/planbtn.png) no-repeat left top;width:203px;height:34px;line-height:34px;text-align:center;color:#FFF;font-size:14px;font-weight:bold;text-transform:uppercase;text-decoration:none;text-shadow:1px 1px 1px #40a0c0;}
.planbtn a:hover{background:url(../images/planbtn.png) no-repeat left bottom;}
.content{float:left;width:950px;margin:0 0 20px 0;}
.leftcontent{float:left;width:625px;}
.leftcontent p{margin-bottom:18px;}
.leftcontent-wide p{margin-bottom:18px;}
.leftcontent h1, .leftcontent-wide h2{font-size:22px;font-weight:bold;}
.leftcontent h2, .leftcontent-wide h2{font-size:18px;font-weight:bold;}
.leftcontent h3, .leftcontent-wide h3{font-size:15px;font-weight:bold;}
.box1{width:625px;clear:both;}
.box1inner{width:585px;padding:18px;background:url(../images/planbtm.png) repeat-x left bottom #FFF;border:2px solid #FFF;border-radius:0px 0px 5px 5px;}
.box1inner p, .box1inner-wide p{line-height:18px;color:#777;font-size:14px;}
.box1inner h3, .box1inner-wide h3{margin:0 0 18px 0;padding:0px;color:#40a0c0;font-size:14px;}
.leftcontent-wide{float:left;width:950px;}
.box1-wide{width:950px;}
.box1inner-wide{width:910px;padding:18px;background:url(../images/planbtm.png) repeat-x left bottom #FFF;border:2px solid #FFF;border-radius:5px;}
.boxtitle1{margin:0px;padding:0 0 0 75px;background:url(../images/rightheading.png) no-repeat left top;height:50px;line-height:50px;color:#FFF;font-size:16px;text-transform:uppercase;text-shadow:1px 1px 1px #333;}
.boxtitle2{margin:0px;padding:0 0 0 18px;background:url(../images/rightheading.png) no-repeat left top;height:50px;line-height:50px;color:#FFF;font-size:16px;text-transform:uppercase;text-shadow:1px 1px 1px #333;}
.boxtitle3{margin:0px;padding:0 0 0 18px;font-size:16px;color:#FFF;background:url(../images/leftheading.png) no-repeat left top;height:50px;line-height:50px;text-shadow:none !important;font-weight:normal;letter-spacing:0;}
.liststyle4{list-style:none;margin:0px;padding:0px;}
.liststyle4 li{border-bottom:2px solid #c9cdd0;border-radius:5px;padding:20px 20px 20px 80px;margin:0 0 14px 0;}
.liststyle4 h4{margin:0px;padding:0px;color:#333;font-size:16px;}
.image1{background:url(../images/image1.png) no-repeat 20px 20px #ecf1f4;}
.image2{background:url(../images/image2.png) no-repeat 20px 20px #ecf1f4;}
.image3{background:url(../images/image3.png) no-repeat 20px 20px #ecf1f4;}
.image4{background:url(../images/image4.png) no-repeat 20px 20px #ecf1f4;}
.image5{background:url(../images/image5.png) no-repeat left top;width:45px;height:30px;position:absolute;margin:10px 0 0 -60px;}
.image6{background:url(../images/image6.png) no-repeat left top;width:45px;height:30px;position:absolute;margin:10px 0 0 -60px;}
.app-icon-plus{background:url(../images/app-icon-plus.png) no-repeat left top;width:45px;height:30px;position:absolute;margin:10px 0 0 -60px;}
.app-icon-transfer{background:url(../images/app-icon-transfer.png) no-repeat left top;width:45px;height:30px;position:absolute;margin:10px 0 0 -60px;}
.app-icon-newsletter{background:url(../images/app-icon-newsletter.png) no-repeat left top;width:45px;height:30px;position:absolute;margin:10px 0 0 -60px;}
.liststyle4 p{margin:5px 0 0 0;padding:0px;color:#777;font-size:14px;line-height:20px;}
.yellow{color:#eac117;}
.astutiumBlue, a.astutiumBlue:hover, a.astutiumBlue:link, a.astutiumBlue:visited, a.astutiumBlue:active{color:#40a0c0;}
.astutiumOrange, a.astutiumOrange:hover, a.astutiumOrange:link, a.astutiumOrange:visited, a.astutiumOrange:active{color:#ee7a15;}
.astutiumRed, a.astutiumRed:hover, a.astutiumRed:link, a.astutiumRed:visited, a.astutiumRed:active{color:#ca3536;}
.astutiumGreen, a.astutiumGreen:hover, a.astutiumGreen:link, a.astutiumGreen:visited, a.astutiumGreen:active{color:#4da94a;}
.red{color:#ff0000;}
.contentright{float:right;width:300px;}
.box2{width:300px;margin:0 0 20px 0;}
.box2 h2{margin:0px;padding:0 0 0 75px;background:url(../images/rightheading.png) no-repeat left top;height:50px;line-height:50px;color:#FFF;font-size:16px;text-transform:uppercase;text-shadow:1px 1px 1px #333;}
.box2 h6{margin:0px;padding:0 0 0 20px;background:url(../images/rightheading.png) no-repeat left top;height:50px;line-height:50px;color:#FFF;font-size:16px;text-transform:uppercase;text-shadow:1px 1px 1px #333;}
.box2inner p{margin:0px;padding:0px;line-height:20px;color:#777;font-size:14px;}
.box2inner{width:256px;padding:20px;background:url(../images/planbtm.png) repeat-x left bottom #FFF;border:2px solid #FFF;border-radius:0 0 5px 5px;}
.box2inner h3{margin:0 0 20px 0;padding:0px;color:#40a0c0;font-size:14px;}
.footercon{float:left;width:100%;padding:10px 0 25px 0;background:url(../images/headerbg.png) repeat left top;}
.partner{width:950px;background:url("https://www.astutium.com/templates/astutium/images/partner2.png") no-repeat left top;height:90px;float:left;}
.partner h2{text-align:center;color:#FFF;text-transform:uppercase;font-size:12px;font-weight:normal;padding:28px 0 0 0;margin:0px;}
.sitemap{float:left;width:170px;margin:0 20px 0 0;}
.sitemap h2{margin:0 0 10px 0;padding:0px;font-size:14px;text-transform:uppercase;color:#FFF;}
.sitemap ul{margin:0 0 0 15px;padding:0px;color:#999999;}
.sitemap ul li{height:25px;list-style-type:disc;}
.sitemap ul li a{height:20px;line-height:20px;color:#999;text-decoration:none;}
.sitemap ul li a:hover{text-decoration:underline;}
.socialmedia{float:right;width:210px;}
.socialmedia h2{margin:0 0 10px 0;padding:0px;font-size:14px;text-transform:uppercase;color:#FFF;}
.socialmedia p{margin:0 0 5px 0;padding:0px;font-size:14px;text-transform:uppercase;color:#40a0c0;}
.grey{color:#999;}
.liststyle5{list-style:none;margin:10px 0 0 0;padding:0px;}
.liststyle5 li{float:left;display:inline;margin:0 5px 0 0;}
.liststyle5 li a{display:block;width:100%;padding-left:12px;height:30px;}
.liststyle5 li:hover{opacity:0.7;}
ul.liststylesocial{list-style:none;margin:10px 0 0 0;padding:0px;}
.liststylesocial li{float:left;display:inline;margin:0 0px -5px 0;}
.liststylesocial li a{display:block;width:100%;padding-left:12px;height:30px;}
.liststylesocial li:hover{opacity:0.7;}
.facebook{background:url("https://www.astutium.com/assets/icons/facebook.png") no-repeat left top;}
.twitter{background:url("https://www.astutium.com/assets/icons/twitter.png") no-repeat left top;}
.youtube{background:url("https://www.astutium.com/assets/icons/youtube.png") no-repeat left top;}
.linkedin{background:url("https://www.astutium.com/assets/icons/linkedin.png") no-repeat left top;}
.copyright{float:left;height:24px;background:#000;text-align:center;line-height:24px;color:#999;font-size:14px;width:100%;}
.copyright a{color:#999;padding:0 5px;}
.footerlinks{float:left;height:24px;background:#000;text-align:center;line-height:24px;color:#999;font-size:12px;width:100%;}
.footerlinks a{color:#999;padding:0 5px;}
.footerbtm{height:30px;width:100%;background:url(../images/headerbg.png) repeat left top;float:left;}
.welcome{width:950px;float:left;margin:0 0 20px 0;}
.welcome h2{margin:0px;padding:0 0 0 20px;background:url(../images/headingwelcome.png) no-repeat left top;height:50px;line-height:50px;color:#FFF;font-size:16px;text-transform:uppercase;}
.welcomeinner{padding:20px;background:url(../images/planbtm.png) repeat-x left bottom #FFF;border-width:0 2px 2px 2px;border-style:solid;border-color:#FFF;border-radius:0 0 7px 7px;}
.welcomeinner p{margin:0 0 18px 0;padding:0px;line-height:20px;color:#777;font-size:14px;}
.bannersubpage{float:left;width:920px;background:url(/assets/images/subpagebanner2.png) no-repeat left top;height:125px;padding:5px 0 0 30px;margin:0 0 5px 0;}
.ratebanner1{float:left;width:167px;margin:-7px 0 0 19px;}
.ratebanner1 h3{margin:0px;padding:0px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#FFF;text-shadow:1px 1px 1px #c46e03;font-size:18px;letter-spacing:-1px;text-align:right;}
.signup2{margin:55px auto 0 auto;width:167px;height:34px;}
.signup2 a{display:block;background:url(../images/bannerbtn.png) no-repeat left top;width:147px;height:34px;line-height:34px;padding:0 0 0 20px;color:#FFF;font-size:16px;font-weight:bold;text-transform:uppercase;text-decoration:none;}
.signup2 a:hover{background:url(../images/bannerbtn.png) no-repeat left bottom;}
.pound1{color:#FFF;font-size:50px;position:absolute;font-family:din;margin:5px 0 0 4px;}
.starting{margin:4px 0 0 16px;position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#777;font-size:14px;}
.pound2{color:#fa7b18;font-size:30px;position:absolute;font-family:din;margin:28px 0 0 45px;}
.numeric1{color:#fa7b18;font-size:50px;position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;margin:10px 0 0 55px;letter-spacing:-5px;}
.numericsmall1{color:#fa7b18;font-size:30px;position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;margin:20px 0 0 70px;}
.per1{position:absolute;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#777;margin:50px 0 0 102px;}
.buttonmore{width:100%;text-align:center;}
.button1{display:inline-block;vertical-align:baseline;margin:0 2px;outline:none;cursor:pointer;text-align:center;text-decoration:none;font-size:14px;padding:.5em 2em .55em;text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 5px 2px rgba(0,0,0,.2);-moz-box-shadow:0 5px 2px rgba(0,0,0,.2);box-shadow:0 5px 2px rgba(0,0,0,.2);}
.button1:hover{text-decoration:none;}
.button1:active{position:relative;top:1px;}
.bigrounded{border-radius:0.5em 0.5em 0.5em 0.5em;font-weight:bold;letter-spacing:1px;}
.big{font-size:16px;font-weight:bold;padding:0.5em 1em;}
.medium{font-size:14px;font-weight:bold;padding:0.5em 1em;}
.small{font-size:11px;font-weight:bold;padding:0.3em 0.75em;}
.black1{color:#ffffff !important;border:solid 1px #8f8f8f;background:#646464;background:-webkit-gradient(linear, left top, left bottom, from(#646464), to(#333333));background:-moz-linear-gradient(top, #646464, #333333);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#333333');}
.black1:hover{background:#18567a;color:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#333333), to(#646464));background:-moz-linear-gradient(top, #333333, #646464);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#646464');}
.black1:active{color:#fff;background:#646464;background:-webkit-gradient(linear, left top, left bottom, from(#646464), to(#333333));background:-moz-linear-gradient(top, #646464, #333333);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#333333');}
.orange1{background:#fab43d;border:solid 1px #ffc068;color:#fff !important;background:-webkit-gradient(linear, left top, left bottom, from(#fab43d), to(#f07805));background:-moz-linear-gradient(top, #fab43d, #f07805);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fab43d', endColorstr='#f07805');}
.orange1:hover{color:#fff;background:#f07805;background:-webkit-gradient(linear, left top, left bottom, from(#f07805), to(#fab43d));}
.orange1:active{background:#fab43d;color:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#fab43d), to(#f07805));background:-moz-linear-gradient(top, #fab43d, #f07805);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fab43d', endColorstr='#f07805');}
.astutiumblue1{background:#75c6de;border:solid 1px #0e88bc;color:#fff !important;background:-webkit-gradient(linear, left top, left bottom, from(#75c6de), to(#2493c2));background:-moz-linear-gradient(top, #75c6de, #2493c2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75c6de', endColorstr='#2493c2');}
.astutiumblue1:hover{color:#fff;background:#2493c2;background:-webkit-gradient(linear, left top, left bottom, from(#2493c2), to(#75c6de));background:-moz-linear-gradient(top, #2493c2, #75c6de);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2493c2', endColorstr='#75c6de');}
.astutiumblue1:active{background:#75c6de;color:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#75c6de), to(#2493c2));background:-moz-linear-gradient(top, #75c6de, #2493c2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75c6de', endColorstr='#2493c2');}
#slider img{display:none;}
#slider{}
.nivoSlider{float:left;height:346px;position:relative;width:950px;margin:0;}
.nivoSlider img{display:none;left:0px;position:absolute;top:0px;}
.nivoSlider a.nivo-imageLink{border:0pt none;display:none;height:100%;left:0px;margin:0pt;padding:0pt;position:absolute;top:0px;width:100%;z-index:6;}
.nivo-slice{display:block;height:100%;position:absolute;z-index:5;}
.nivo-box{display:block;position:absolute;z-index:5;}
.nivo-caption{background:none repeat scroll 0% 0% #000000;top:-10px;color:#FFFFFF;left:0px;opacity:0.8;position:absolute;width:100%;z-index:8;}
.nivo-caption p{margin:0pt;padding:5px;}
.nivo-caption a{display:inline ! important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{cursor:pointer;position:absolute;top:45%;z-index:9;}
.nivo-prevNav{left:0px;}
.nivo-nextNav{right:0px;}
.nivo-controlNav a{cursor:pointer;position:relative;z-index:9;display:none;}
.nivo-controlNav a.active{font-weight:bold;}
.portaltable{border:none;}
.portaltable td{border:none;vertical-align:middle;}
.spacer{clear:both;height:30px;}
.styled_title small{font-size:14px;font-weight:normal;}
.TopMenu{border:solid 1px #000;background:#646464;background:-webkit-gradient(linear, left top, left bottom, from(#646464), to(#343434));background:-moz-linear-gradient(top, #646464, #343434);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#343434');border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;float:right;margin:0px 0 0;padding:0px;}
.TopMenu ul{margin:0pt;padding:0pt;}
.TopMenu ul li{color:#FFFFFF;display:inline;float:left;line-height:32px;list-style:none outside none;padding:0pt 8px 0pt 34px;}
.TopMenu ul li a{color:#dedede;}
.contact{background:url("https://www.astutium.com/assets/icons/contact.png") no-repeat scroll 14px 7px transparent;}
.login{background:url("https://www.astutium.com/assets/icons/login.png") no-repeat scroll 14px 7px transparent;}
.blog{background:url("https://www.astutium.com/assets/icons/blog.png") no-repeat scroll 14px 7px transparent;}
.status{background:url("https://www.astutium.com/assets/icons/status.png") no-repeat scroll 14px 7px transparent;}
.forums{background:url("https://www.astutium.com/assets/icons/forums.png") no-repeat scroll 14px 7px transparent;}
.affiliates{background:url("https://www.astutium.com/assets/icons/affiliates.png") no-repeat scroll 14px 7px transparent;}
.support{background:url("https://www.astutium.com/assets/icons/support.png") no-repeat scroll 14px 7px transparent;}
.portal{background:url("https://www.astutium.com/assets/icons/portal.png") no-repeat scroll 14px 7px transparent;}
.socialbox{float:left;margin-left:40px;margin-top:35px;}
.socialbox .fb-like{float:left;}
.socialbox .twitter-like{float:left;}
#menu2{float:left;width:940px;height:35px;background:#CCC;padding:5px 5px 0 5px;border-radius:7px 7px 7px 7px;margin:0px 0 0 0;}
#menu2 ul{list-style:none;margin:0px;padding:0px;}
#menu2 ul li{float:left;display:inline;height:35px;margin:0 5px 0 0;}
#menu2 ul li a{display:block;text-align:center;text-decoration:none;color:#FFF;font-size:12px;text-shadow:1px 1px 1px #363636;text-transform:uppercase;background:url(../images/menu2.png) repeat-x left top;border-radius:7px 7px 7px 7px;height:35px;line-height:35px;padding:0 30.7px;}
#menu2 ul li a:hover, #menu ul li.active a{background:url(../images/menuactive.png) repeat-x left top;border-radius:7px 7px 0px 0px;color:#777;text-shadow:1px 1px 1px #FFF;}
#menu2 li li{float:left;margin:0px;padding:0px;width:225px;}
#menu2 ul li.over a, #menu ul li:hover a{background:url(../images/menuactive.png) repeat-x left top;border-radius:7px 7px 0px 0px;color:#777;text-shadow:1px 1px 1px #FFF;}
#menu2 li li a, #menu li li a:link, #menu li li a:visited{color:#232323;text-shadow:1px 1px 1px #FFF;float:none;margin:0px 0px 0px -1px;border-radius:0;border-bottom:#2a2a2a 1px solid;border-left:#2a2a2a 1px solid;border-right:#2a2a2a 1px solid;text-align:left;}
#menu2 li li a:hover, #menu li li a:active{color:#777;text-shadow:1px 1px 1px #FFF;float:none;margin:0px;text-align:left;}
#menu2 li ul{left:-999em;position:absolute;width:10em;z-index:9999;background:#dcdcdc;}
#menu2 li:hover ul{display:block;left:auto;}
#menu2 li:hover ul, #menu li.sfhover ul{left:auto;}
.menu2{margin:0 auto;width:950px;margin-bottom:10px;margin-top:5px;margin-bottom:15px;}
#astutiumphone{float:right;width:240px;margin-top:20px;}
#astutiumlogo{margin-right:200px;}
.label.on{background-color:#46A546;}
.label.off{background-color:#cc0000;}
.label.waiting{background-color:#F89406;}
.label.rebooting{background-color:#0768B8;}
.label.shuttingdown{background-color:#C43C35;}
.label.startingup{background-color:#BFBFBF;}
.label.unknown{background-color:#888;}
.label.notapplicable{background-color:#000;}
.label.restricted{background-color:#770000;}
.smspacing p{line-height:3px;}
.bannerleft .h3like{margin:0px;padding:2px;color:rgb(255, 255, 255);font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:16px;border:0px none;font-weight:normal;font-style:normal;}
ol.terms{list-style-type:decimal;font-family:monospace;display:block;}
ol.terms ul li{list-style-type:disc;}
.nobr{white-space:nowrap;}
blockquote * a:link{text-decoration:underline;}
div.emlight > p{color:rgb(255, 255, 255);}
div.emdark > p{color:rgb(0, 0, 0);}
.alert-message.success > p{color:rgb(255, 255, 255);}
.clientareacharttable{width:100%;background-color:#cccccc;padding:0px;border-top:1px solid #ddd;vertical-align:top;}
.clientareacharttableheading tr{background-color:#efefef;font-weight:bold;text-align:center;padding:0px;}
.clientareacharttable td{background-color:#ffffff;text-align:center;padding:0px;margin:0px;}
.counter-blocks{border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:2px dashed #40a0c0;margin-bottom:20px;padding:10px 0;text-align:center;}
.counter-blocks span{border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;background-color:#333333;color:#ffffff;display:inline-block;font-size:25px;font-weight:bold;line-height:25px;padding:5px;}
.counter-basic .clock{border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#40a0c0;color:#ffffff;font-weight:bold;line-height:25px;text-align:center;}
#whmcsorderfrm p.tic{text-align:right;margin:0px;}
div.Col02 ul li img { vertical-align: middle; }
.author-avatar .avatar{border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:solid 2px silver;}
.testimonial{background:url({$i.gravatar}) no-repeat 20px 20px #ECF1F4;}
