    legend{ 

        margin-bottom: 10px;
    }

    .info label{
    display: inline-block;
    width: 200px;
    margin-left: 50px;

    }

    .info input{
        display: inline-block;
        text-align: left;
        width:200px;
        margin-bottom: 10px;
    }

    #info{
        text-align: left;
        margin: 0 auto;
    }

    #but
    {
        width: auto;
    }
    p1,p2{
        color: rgb(119,119,119);
    }
    #price{

        color: black;
        font-weight: bold;

    }
    ul {
        color: black;
    }

    body { 
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     background-color: rgb(227,231,233);

    }

    #check
    {
        background-color: rgb(92,183,92);
        padding-top: 9px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 9px;
        color: white;
        border-radius: 7px;
         background-color: #0C73AF;
         border:1px solid #100D69;
    }

    #check:hover{

        text-decoration: underline;
    }
     #continue, #continue2{
        
        display: block;
        position: relative;
        background-color: #0C73AF;
        padding-top: 9px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 9px;
        color: white;
        border-radius: 7px;
        width: 200px;
        margin: 0 auto;
        border:1px solid #100D69;
    }

    #continue:hover{

       
     text-decoration: underline;
    }


 

    #domain{
        border-radius: 0px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 100px;
        padding-bottom: 7px;
        font-size:16px;
        
    }

    #end {
        border-radius: 3px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 7px;
        font-size:16px;
        
    }

    #inner {
        background-color: white;
        border-radius: 5px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;


    }

    #currency {
        border-radius: 3px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 7px;
        font-size:16px;
    }

    #form {
        color: rgb(119,119,119);
        margin: 0 auto;
        text-align: center;

    }
    #content a:hover #text {
        display: inline-block;
        position: relative;
        top : 5px;
        padding: 10px;

        color:#0C89AF;
        font-weight: normal;
        background:  white;
        text-align:left;
        border: 1px solid black;
        margin-right: 30px;

    }


    #quest {
        position: relative; ;
        display: inline-block;
        margin-left: 5px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        border: 1px solid #666;
        font-size: 1em;
        font-family: "open-sans";
        font-weight:bold;
        background:  #0C89AF;
        color: white;
        padding: 3px;
        border-radius: 50%;
    }

    #text {
        display: none;
    }

    #popup a:hover {
        display: inline;
        background-color: rgb(92,183,92);
        color: white;
    }

    #content {
        background-color: rgb(245,245,245);
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 7px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: left;
    }

    #container {
        display: block;
        background-color: rgb(227,231,233);
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 20px;
        border-width: 1px;
        font-family: arial;
        width: 1100px;
        margin: 0 auto;     
    }



    #price {
        position: relative;
        display: inline-block;
        padding-left: 25px;
        padding-right: 50px;

    }

    p2 {
        padding-top: 20px;
    }


    #choose{

        position: absolute;
        left: 475px;


    }

    #pricing{

      
    }

    #complete{


    }
    .label{
      display: inline-block;
      background: #fff;
      width: 40px; height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      margin: 0 auto;
       border-width: 2px;
        color: #eee;
        border-style: solid;
         background-color: #D0D7DA;
        
    }

    .label.done{
        border-width: 2px;
        border-color: #eee;
        border-style: solid;
        color: white;
    background: #8bc435;

     
    }

    .label.current{

        border-width: 2px;
        border-color: #eee;
        border-style: solid;
        background-color: #20A1C9;
        font-weight: bold;

    }


    #progress{

        display: block;
        margin: 0 auto;
        width: 600px;
        margin-bottom: 50px;
        text-align: center;
        font-family: "Open Sans";

    }

    #avail{
        color: black;
        display: block;
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
    }

    .bar{
        background: #fff;

        display: inline-block;
        width: 100px;
        height: 5px;
        border: 1px solid #d5d5da;
        margin: 0 -5px 0px -5px;
        border-radius: 10%;

    }

    #result{

        color:#0C89AF;
    }
